@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}


.content{
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.qr{
    width: 95%;
    border-radius: 10px;
}

.title, .description{
    width: 200px;
    text-align: center;
}

.description{
    color: hsl(220, 15%, 55%);
    font-size: 12px;
}

.attribution{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}